@model HomePageViewModel
@{
    ViewData["Title"] = "Anasayfa";
}



<partial name="_Slider" model="Model.Sliders"/>
@section Scripts {
    <script>
        $(".carousel-item:first").addClass("active")
    </script>
}   

<div class="text-center">
    <h1 class="display-4">P013 Store'a Hoigeldiniz</h1>
    <p>
        Popüler Ürünlerimiz
    </p>
</div>
